/* SearchBox.module.css */
.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('/SearchCompany.svg');
    /* Add more styles for the search box container */
  }
  
  .searchInput {
    /* Add styles for the input element */
    background: transparent;
    border: none;
    /* ... */
  }
  
  .searchIcon {
    /* Add styles for the search icon */
    position: absolute;
    left: 8px;
    /* ... */
  }
  